input,
select,
textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    outline-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: rem(1) solid $gray-02;
    font-size: rem(16);
    @include transition(border);
    &::placeholder {
        color: $gray-01;
    }
    &:-ms-input-placeholder {
        color: $gray-01;
    }
    &::-ms-input-placeholder {
        color: $gray-01;
    }
    &::-ms-clear {
        @include breakpoint(md) {
            display: none;
        }
    }
    &:focus {}
}

input,
select{
    display: block;
    width: 100%;
    height: rem(48);
    line-height: rem(48);
    padding: 0 rem(15);
}

select{
    width: 100%;
    cursor: pointer;
    color: $gray-01;
    // background: url('../../../../images/dropdown.svg') 97%/8% no-repeat;
    background-size: rem(11);
    &:focus{}
}

textarea{
    width: 100%;
    height: rem(135);
    padding: rem(12) rem(15);
    resize: none;
}