{% if banner_info and banner_info.show %}
	<div class="banner-info bg-gray-05 relative py-2" x-data="{ open: true }"  x-show="open"  x-transition>
		<div class="container">
			<div class="flex max-md:flex-col max-md:items-start md:items-center md:justify-center">

				<p class="p-md font-semibold mr-2 max-md:pr-6"><i
							class="icon icon-newspaper text-secondary-01 mr-2"></i>{{ banner_info.text }}</p>

				{% include "components/button/_button-icon.html.twig" with { 'btn' : banner_info.link, class : 'flex flex-row-reverse text-secondary-01 max-md:mt-2', position : "left"} %}
			</div>
			<i class="icon-close text-xlg absolute right-6 top-0 cursor-pointer" @click="open = ! open"></i>
		</div>
	</div>
{% endif %}