# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/.gitkeep
!web/app/mu-plugins/advanced-custom-fields-pro
web/app/languages/*
!web/app/languages/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

web/app/_sessions/*
!web/app/_sessions/.gitkeep

# WordPress
web/wp

# Logs
*.log

# Dotenv
.env
.env.*
!.env.dist
!.env.example
install.lock
.docker

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

.composer
.idea
auth.json

_mutagen/config.yml.lock
