@layer components {

}

.main-breadcrumb{
    a, span{
        @apply text-[10px] text-gray-02 trans-default hover:text-gray-01 px-1;
        &.breadcrumb_last{
            @apply text-gray-01;
        }
    }
}

/*
.test{
    mask-image: url("./assets/images/mask-img.svg");
    mask-size: 100vmin;
    mask-repeat: no-repeat;
    mask-position: center;
}*/
