{% from 'components/button/button.html.twig' import _button %}

<section class="bloc-testimony p-default overflow-hidden">
    <div class="container">
        <div class="bloc-testimony__header flex flex-col lg:flex-row lg:items-center lg:justify-between">
            <div class="title xl5">{{ fields.title }}</div>
            {{ _button({
                classes: 'max-lg:mt-6 ',
                title: "Voir tous les avis",
                url: link(const_pages.testimonies.ID),
                type: "secondary"
            }) }}
        </div>

        <div class="bloc-textimony__list mt-10 lg:mt-12 -mx-3 -mb-6 flex flex-wrap justify-center">
            {% for item in fields.items %}
                {{ dump(fn('get_field', 'title', item.ID)) }}
                <div class="group">
                    {% include 'components/cards/card-review.html.twig' with {settings:{
                        title: item.title,
                        rating: item.rating,
                        name: item.name,
                        date: item.date,
                        text: item.text,
                    }} %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% block javascript %}
{{ encore_entry_script_tags('components/blocks/last_realisations/index') }}
{% endblock %}
