.gform_heading,
.gform_submission_error,
.gform_validation_errors{
    @apply hidden;
}


.gform_wrapper.gravity-theme  .validation_message{
    @apply p-0 border-0 bg-transparent text-alert-danger p-s pt-2 mt-0;
    @mixin icon var(--icon-info);

}