.gform_wrapper.gravity-theme {
    .gfield_radio {
        & + & {
            @apply mt-2.5;
        }

        input {
            @apply w-6 h-6;
            @apply mr-2.5;
            @apply border border-gray-04;
            @apply text-secondary-01;
            @apply focus:ring-transparent;
            @apply cursor-pointer;
        }

        label {
            @apply p;
        }
    }
}
