select.ninja-forms-field {
    @apply rounded-md bg-white border border-gray-03 text-primary-black !important;
    @apply placeholder:text-gray-05;
    -webkit-appearance: none;
    outline: 0;
    background: transparent;
    border-image: none;
    outline-offset: -2px;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;

    option[selected="selected"] {
        @apply text-gray-05;
    }
}
