<form class="search__form" action="/" js-search-form>
    <button aria-label="search" type="submit" class="search__form__button">
        <i class="icon-search"></i>
    </button>
    <label for="s1"></label>
    <input
        name="s"
        id="s1"
        type="text"
        class="search__form__input control"
        value="{{ initialValue ?? "" }}"
        placeholder="{{ __('Rechercher une formation, une documentation......', 'cnam') }}"
        js-search-input
    >

</form>
