
.last-realisations {
    .w-btn {
        .control {
            @apply transition-all;
            @apply lg:hover:bg-primary lg:hover:text-primary-white;
            &.swiper-button-disabled {
                @apply pointer-events-none opacity-20;
            }
        }
    }
}
