
<article class="card card--job">
    <div class="card__text">
        <p class="p--medium">{{card.post_title}}</p>
    </div>
    <a href="{{ fn('get_permalink', card.ID) }}" class="full-link"></a>
</article>
