<div class="header-mobile" js-menu-sticky-mobile>

    <div class="container header-mobile__container">

        <div class="header-mobile__logo">
            <a href="{{ site.home }}" title="{{ site.name }}">
                <img src="{{ asset('/build/images/logo-dark.svg') }}" alt="Logo Jacquemard SARL" class="logo"/>
            </a>
        </div>

        <div class="header-mobile__right">
            <div class="name mr-2">MENU</div>
            <div class="header-mobile__burger" js-menu-burger js-search-close>
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>


    </div>
</div>
