<section class="w-flex flex-quote">
    <div class="container">
        <div class="w-content">
{#            <i class="icon icon-quote"></i>#}
            <p class="quote p--large">{{ fields.text }}</p>
        </div>
    </div>
</section>
