{% extends "layout.html.twig" %}

{% block content %}

    <div class="debug">
        <span class="strong">views/templates/home.html.twig</span>

        <main>
            <h1>{{ title }}</h1>
            <p>{{ content|raw }}</p>
        </main>
    </div>
{% endblock %}
